<script type="text/javascript">
	document.getElementById("body").style.width = "800px";

	function
	toggleShow(checkbox, what) {
		el = document.getElementById(checkbox.name);
		if (checkbox.checked) {
			el.style.display = 'block';
		} else {
			el.style.display = 'none';
		}
	}
</script>

<form>
	<select name=list><%= @payments_erb[:lists_list] %></select>
	<select name=period><%= @payments_erb[:period_list] %></select>
	<input type=submit value='Update'>
</form>

Summary:  <input name="summary"  type="checkbox" checked="checked" onClick='toggleShow(this, "summary");'>
Payments: <input name="payments" type="checkbox" checked="checked" onClick='toggleShow(this, "payments");'>
Payme:    <input name="payme"    type="checkbox" checked="checked" onClick='toggleShow(this, "payme");'>

<div id='summary'><div id=title>Summary</div><br>
<table class=pay_table>
	<tr><th>Who</th><th>How much</th><th>Diff</th></tr>
	<%= @payments_erb[:summary_table] %>
</table></div><br>

<div id='payments'><div id=title>Payments</div><br>
<table class=pay_table>
	<tr><th>When</th><th>Who</th><th>What</th><th>How much</th><th>Del</th></tr>
	<%= @payments_erb[:payments_table] %>
</table></div><br>

<div id=payme><div id=title>Please pay me</div><br>
<table class=pay_table>
	<tr><th>Who</th><th>Need to pay</th><th>To</th></tr>
	<%= @payments_erb[:payme_table] %>
</table></div><br>

