<script type="text/javascript">
document.getElementById("body").style.width = "800px";

function
toggleShow(checkbox, what) {
	el = document.getElementById(checkbox.name);
	if (checkbox.checked) {
		el.style.display = 'block';
	} else {
		el.style.display = 'none';
	}
}

function
set_paid(debt_id) {
	var request = $.post("/set_paid", {debt_id: debt_id});

	var request = $.ajax({
		dataType: "json",
		url: "/set_paid",
		type: "POST",
		data: { debt_id : debt_id }
	});

	request.done(function(data) {
		$('#debt_' + debt_id).html('<span style="color: #24de44" class="glyphicon glyphicon-ok"></span>')
	});

	request.fail(function(jq_xhr, test_status) {
		alert("Cannot set paid :(");
	});


	return false;
}

</script>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="selectList">List</label>
		<div class="col-lg-3">
		<select class="form-control" name="list" id="selectList">
			<%= @payments_erb[:lists_list] %>
		</select>
	</div>
	</div>

	<div class="form-group">
		<label for="selectPeriod">Period</label>
		<div class="col-lg-3">
		<select class="form-control" name="period" id="selectPeriod">
			<%= @payments_erb[:period_list] %>
		</select>
	</div>
	</div>

	<button type="submit" class="btn btn-primary">Update</button>
</form>

<% if @payments_erb[:payments_table].nil? %>
	<h2>No payments yet :(</h2>
<% else %>
<div class="checkbox-inline">
	<label>
		<input name="summary" type="checkbox" checked="checked" onClick='toggleShow(this, "summary");'> Summary
	</label>
</div>

<div class="checkbox-inline">
	<label>
		<input name="payments" type="checkbox" checked="checked" onClick='toggleShow(this, "payments");'> Payments
	</label>
</div>

<div class="checkbox-inline">
	<label>
		<input name="payme" type="checkbox" checked="checked" onClick='toggleShow(this, "payme");'> Payme
	</label>
</div>

<div id='summary'><h2>Summary</h2>
	<table class="table table-striped pay_table">
		<tr><th>Who</th><th>How much</th><th>Diff</th></tr>
		<%= @payments_erb[:summary_table] %>
</table></div><br>

<div id='payments'><h2>Payments</h2>
	<table class="table table-striped pay_table">
		<tr><th>When</th><th>Who</th><th>What</th><th>How much</th><th>Del</th></tr>
		<%= @payments_erb[:payments_table] %>
</table></div><br>

<div id=payme><h2>Please pay me</h2>
	<table class="table table-striped pay_table">
		<tr><th>Who</th><th>Owes</th><th>To</th><%= @last_period ?  '' : '<th>Paid?</th>' %></tr>
		<%= @payments_erb[:payme_table] %>
</table></div><br>
<% end %>
